DEBUG=True
DJANGO_SECRET_KEY=replace-with-secure-key
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=postgres
POSTGRES_DB=university
POSTGRES_USER=university
POSTGRES_PASSWORD=university
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
